Flask==2.3.3
requests==2.31.0
gunicorn
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
--index-url https://download.pytorch.org/whl/cpu
diffusers==0.21.4
transformers==4.33.3
accelerate==0.23.0
Pillow==10.0.0
tokenizers==0.15.0
streamlit==1.28.0
pytz==2023.3
GitPython==3.1.31
protobuf==3.20.3
safetensors==0.4.0
numpy==1.24.3
huggingface-hub==0.17.3
